div.mapping {
  display: flex;
  & > span, input {
    width: $unit * 4;
    text-align: left;
    padding: 0 $unit / 2;
    line-height: $unit;
  }
  &.header {
    border-bottom: $border-lightgray;
  }
  &.editable {
    padding-right: 0;
    margin-right: 0;
  }
}
