div.mappingContainer {
  margin: $unit / 2 0;
}

div.mapping {
  @include display-flex;
  @include justify-content(space-between);
  & > span, input {
    width: $unit * 6;
    text-align: left;
    padding: 0 $unit / 2;
    line-height: $unit;
    &.container {
      text-align: center;
    }
  }
  & > input {
    cursor: pointer;
  }
  & > div.capacityCubes {
    margin-top : $unit / 4;
  }
  font-size: $font-size-medium;
  background-color: white;
  &.record {
    & > div.date {
      color: $color-calendar-header;
    }
    &.container {
      @include display-flex;
      @include justify-content(center);
    }
  }
  &.header {
    font-size: $font-size-small;
    height: $unit;
    line-height: $unit;
    text-align: center;
    background-color: $color-subheader-background;
    color: white;
    &.editable {
      background-color: $color-green-light-background;
      color: $color-green-text;
      & > div.calendarHeader > span{
        color: $color-green-text;
      }
    }
  }

}
