div#dashboard {
  width: 100%;
  height: 100%;
  div.toolbar {
    width: 100%;
    position: fixed;
    top: $unit * 2;
    height: $toolbar-height;
    background-color: $color-toolbar-background;
    @include display-flex;
    @include justify-content(space-around);
  }
  div.groups {
    height: calc(100% - #{$unit});
    @include display-flex;
    @include flex-flow(wrap);
    @include justify-content(center);
    padding: $unit $unit * 3;
    & > div {cursor: pointer}
  }
}
