div#dashboard {
  width: 100%;
  div.toolbar {
    display: flex;
    justify-content: flex-end;
  }
  div.groupsToolbar {
    display: flex;
    justify-content: space-around;
  }
  div.groups {
    height: calc(100% - #{$unit});
    overflow-y: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    & > div {cursor: pointer}
  }
}
