div#dashboard {
  width: 100%;
  height: 100%;
  div.toolbar {
    @include display-flex;
    @include justify-content(flex-end);
  }
  div.groupsToolbar {
    @include display-flex;
    @include justify-content(space-around);
  }
  div.groups {
    height: calc(100% - #{$unit});
    overflow-y: auto;
    @include display-flex;
    @include flex-flow(row wrap);
    @include justify-content(space-around);
    & > div {cursor: pointer}
  }
}
