div#groupDetails {
  @include display-flex;
  @include flex-direction(column);
  height: 100%;
  & > div.summary {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
    & > div.toolbar {
      & > span {
        padding: 0 $unit / 2;
      }
      @include display-flex;
      @include justify-content(space-between);
      &.span {
        display: inline-block;
        width: $unit;
      }
    }
  }
}
