div#groupDetails {
  @include flex(1 0 100%);
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  height: 100%;
  & > div.container {
    width: 100%;
    margin-top: $unit;
    // position: fixed;
    // top: $unit * 3; right: 0;
    background-color: white;
    width: 100%;
    @include justify-content(center);
    @include display-flex;
    & > div.summary {
      width: $panel-width * 2;
      padding: $unit 0;
      @include display-flex;
      @include justify-content(center);
      @include align-items(center);
      & > div.header {
        width: $panel-width;
        text-align: center;
        @include display-flex;
        @include flex-direction(column);
        @include align-items(center);
        & > span.capacity {
          font-size: $font-size-small;
          color: $color-calendar-header;
        }
      }
    }
  }
}
