div.capacityCubes {
  @include display-flex;
  @include justify-content(center);
  div.vis {
    @include display-flex;
    @include flex-flow( column wrap);
    div.partialRows{
      @include display-flex;
      @include flex-direction(row);
      & > span.day {
        height: 100%;
        @include display-flex;
        @include flex-direction(row);
        @include align-items(flex-end);
        margin: 1px;
        & > span.slot {
          height: 100%;
          width: $unit;
          @include display-flex;
          @include flex-flow(column-reverse wrap);
          & > span.cube {
            @include flex(1 0 auto);
            width: $unit;
            height: $unit / 3;
            margin: 1px;
            background-color: $color-subheader-background;
            &.taken { background-color: $color-green; }
          }
        }
      }
    }
    div.fullRow {
      margin: 1px;
      @include flex(1 0 100%);
      height: $unit;
      background-color: $color-green-dark-background;
      @include display-flex;
      @include justify-content(space-between);
      color: $color-green-text;
      span.value {
        line-height: $unit;
        width: $unit;
        text-align: center;
        background-color: $color-green-light-background;
        font-size: $font-size-medium;
      }
      span.label {
        margin-right: $unit/3;
        font-size: $font-size-small;
      }
    }
  }
  &.waitlist {
    margin: 0;
    & > div.vis {
      & > div.partialRows > span.day  > span.slot > span.cube.taken { background-color: $color-blue; }
      & > div.fullRow { display: none; }
    }

  }
}
