div#studentList {
  & > div.header {
   display: flex;
   border-bottom: $border-lightgray;
   line-height: $unit;
   & > div {
     width: $unit * 5;
     text-align: left;
     &.index { width: $unit * 2; }
   }
   & > div.calendarHeader {
    $day-width: calc(#{$unit * 2} + 5px);
    width: auto;
    span {
       text-align: center;
       display: inline-block;
       width: $day-width;
       height: 100%;
      }
    }
  }
}
