//variables

//colors:
$color-active: #7fcdbb;
$color-warning: #fbb4ae;
$color-gray: lightgray;
$disabled-gray: #D3D3D3;

$transition-duration: 0.5s;

$unit: 2rem;

$border: 1px solid black;
$border-lightgray: 1px solid $color-gray;
$border-bold: 3px solid black;


//globals
html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  line-height: $unit;
  margin: 0;
  font-size: 16px;
}

div#app {
  display: flex;
  flex-direction: column;
  height: 100%;

  a {
    text-decoration:none;
    color: inherit;
    display: inline-block;
  }

  div.content {
    display: flex;
    height: calc(100% - #{$unit * 3});
    flex: 1 0;
    align-items: flex-start;
    justify-content: center;
  }
}

span.actionItem {
  display: inline-block;
  width: $unit;
  height: $unit;
  color: $color-gray;
  text-align: center;
  transition: background-color $transition-duration ease-in;
  transition: color $transition-duration ease-in;
  border: $border-lightgray;
  border-radius: $unit / 10;
  margin: 0 $unit/8;
  &.active {
    background-color: $color-active;
  }
  &:hover {
    &:not(.disabled) {
      background-color: $color-active;
      cursor: pointer;
    }
  }
  &.warning {
    &:hover {
      &:not(.disabled) {
        background-color: $color-warning;
        cursor: pointer;
      }
    }
  }
  &.active {
    background-color: $color-warning;
  }
}

span.actionItemText {
  display: flex;
  color: $color-gray;
  cursor: pointer;
  border: $border-lightgray;
  border-radius: $unit / 10;
  line-height: $unit;
  padding: 2px;
  i {
    line-height: $unit;
    display: inline-block;
    width: $unit;
    height: $unit;
  }
  &:hover, &.active {
    background-color: $color-active;
    color: white;
  }
}

.editableInline {
  padding-right: $unit;
  margin-right: $unit;
  height: $unit;
  line-height: $unit;
  border: 1px solid white;
  border-radius: $unit / 10;
  &:hover, &.active {
    border: 1px solid $color-active;
    & > span.actionEditable > span.actionEditableItem {
      color: $color-gray;
      &:hover { color: $color-active;}
      &.warning:hover { color: $color-warning; }
    }
  }
  &.active {
    padding-right: $unit * 2;
    margin-right: 0;
  }
}

input {
  font-size: 16px;
  border: none;
  line-height: $unit;
  padding: 0;
  &:hover {
    cursor: default;
  }
  &:focus {
    outline: none;
  }
}
select {
  padding-right: 5px;
  background: transparent;
  width: $unit * 4;
  font-size: 12px;
  border: 0;
  border-radius: 0;
  height: $unit;
}
