// @font-face {
//   font-family: Montserrat;
//   src: url("/montserrat/Montserrat-Bold.otf");
// }

$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-sourceSansPro: 'Source Sans Pro', sans-serif;
$font-size-small: 0.6rem;
$font-size-medium: 0.8rem;
$font-size-large: 1rem;

//variables

//colors:
$color-active: #7fcdbb;
$color-warning: #fbb4ae;
$color-gray: lightgray;
$disabled-gray: #D3D3D3;

$transition-duration: 0.5s;

$unit: 2rem;

$border: 1px solid black;
$border-lightgray: 1px solid $color-gray;
$border-bold: 3px solid black;

$color-body-background: #ECF0F1;
$color-navbar-background: #2E2E2E;
$color-toolbar-background: #242424;
$color-toolbar-item-background: #414040;
$color-toolbar-icon-background: #858687;
$color-calendar-header: #858687; // wrong
$color-toolbar-item-text: white; // wrong
$color-green: #2ECC71;
$color-green-highlight: #36db7c;
$color-green-text-number: #0F763B; //14
$color-green-dark-background: #39CA74;
$color-green-light-background: #41D97F;
$color-green-text: #1E904E; //full schedules
$color-subheader-background: #545454; //tetris and total capacity
$color-group-header: #2E2E2E; //toddlers
$color-section-text: #FFFFFF; //TOTAL Capacity
$color-calendar-header: #C0C0C0;
$color-blue: #3498DB; //tetris
$color-waitlist-names: #545454;


//measurments
$height-header: $unit * 2;
$height-footer: $unit;
$toolbar-height: $unit;
$panel-width: $unit * 10;
$day-width: calc(#{$unit * 2} + 4px);
$calendar-width: calc(#{$unit * 10} + 10px);


//height navbar 80px
//height border bottom navbar active 6px
//heigh body 950px
//padding-body-left-right 100px
//padding body top 44px
//september 2015 Monseratt bold
//Infants SourseSansPro bold
//Totalcapacity Monserrat bold
//Menu items schedule Montserrat bold
//tag 12 monrserrat bold


//globals

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  line-height: $unit;
  margin: 0;
  font-size: 16px;
  background-color: $color-body-background;
  font-family: $font-family-montserrat;
}

div#app {
  @include display-flex;
  @include flex-direction(column);
  height: 100%;
  a {
    text-decoration:none;
    color: inherit;
    display: inline-block;
  }

  div.content {
    @include display-flex;
    height: calc(100% - #{$height-header + $height-footer});
    @include flex(1 1 auto);
    min-height: $unit * 6;
    @include align-items(flex-start);
    @include justify-content(center);
  }
}

span.actionItem {
  display: inline-block;
  width: $unit;
  height: $unit;
  color: $color-gray;
  text-align: center;
  transition: background-color $transition-duration ease-in;
  transition: color $transition-duration ease-in;
  border: $border-lightgray;
  border-radius: $unit / 10;
  margin: 0 $unit/8;
  &.active {
    background-color: $color-active;
  }
  &:hover {
    &:not(.disabled) {
      background-color: $color-active;
      cursor: pointer;
    }
  }
  &.warning {
    &:hover {
      &:not(.disabled) {
        background-color: $color-warning;
        cursor: pointer;
      }
    }
  }
  &.active {
    background-color: $color-warning;
  }
}

span.actionItemText {
  font-size: $font-size-small;
  @include display-flex;
  background-color: $color-green;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 $unit;
  i {
    display: inline-block;
    line-height: $toolbar-height;
    width: $unit / 2;
    height: $toolbar-height;
    text-align: center;
    color: $color-green-text;
  }
  &:hover, &.active {
    //interaction
  }
}

.editableInline {
  padding-right: $unit;
  margin-right: $unit;
  height: $unit;
  line-height: $unit;
  border: 1px solid white;
  border-radius: $unit / 10;
  &:hover, &.active {
    border: 1px solid $color-active;
    & > span.actionEditable > span.actionEditableItem {
      color: $color-gray;
      &:hover { color: $color-active;}
      &.warning:hover { color: $color-warning; }
    }
  }
  & > input { pointer-events: none;}
  &.active {
    padding-right: $unit * 2;
    margin-right: 0;
    & > input { pointer-events: all;}

  }
}

input {
  font-size: 16px;
  border: none;
  line-height: $unit;
  padding: 0;
  &:hover {
    cursor: default;
  }
  &:focus {
    outline: none;
  }
}
select {
  padding-right: 5px;
  background: transparent;
  width: $unit * 4;
  font-size: 12px;
  border: 0;
  border-radius: 0;
  height: $unit;
}

.cssIcon {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 18px;
}
