//variables

//colors:
$color-active: #7fcdbb;
$color-warning: #fbb4ae;
$color-gray: lightgray;
$disabled-gray: #D3D3D3;

$transition-duration: 0.5s;

$unit: 2rem;

$border: 1px solid black;
$border-lightgray: 1px solid $color-gray;
$border-bold: 3px solid black;


//globals
html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  line-height: $unit;
  margin: 0;
  font-size: 16px;
}

div#app {
  display: flex;
  flex-direction: column;
  height: 100%;

  a {
    text-decoration:none;
    color: inherit;
    display: inline-block;
  }

  div.content {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

span.actionItem {
  display: inline-block;
  width: $unit;
  height: $unit;
  color: $color-gray;
  text-align: center;
  transition: background-color $transition-duration ease-in;
  transition: color $transition-duration ease-in;
  border: $border-lightgray;
  border-radius: $unit / 10;
  margin: 0 $unit/8;
  &.active {
    background-color: $color-active;
  }
  &:hover {
    &:not(.disabled) {
      background-color: $color-active;
      cursor: pointer;
    }
  }
  &.warning {
    &:hover {
      &:not(.disabled) {
        background-color: $color-warning;
        cursor: pointer;
      }
    }
  }
  &.active {
    background-color: $color-warning;
  }
}

input {
  border: none;
  line-height: $unit;
  padding: 0;
}
