@import '../app/app.scss';
@import '../navbar/navbar.scss';
@import '../footer/footer.scss';
@import '../students/students.scss';
@import '../studentList/studentList.scss';
@import '../student/student.scss';
@import '../studentDetails/studentDetails.scss';
@import '../calendar/calendar.scss';
@import '../calendar/calendarHeader.scss';
@import '../dashboard/dashboard.scss';
@import '../group/group.scss';
@import '../groupDetails/groupDetails.scss';
@import '../capacity/capacity.scss';
@import '../capacityCubes/capacityCubes.scss';
@import '../actionEditable/actionEditable.scss';
@import '../mapping/mapping.scss';
@import '../datePicker/datePicker.scss';
@import '../monthPicker/monthPicker.scss';
@import '../waitlist/waitlist.scss';
@import '../actionables/actionables.scss';
