@import "../app/app.scss";
@import "../navbar/navbar.scss";
@import "../footer/footer.scss";
@import "../students/students.scss";
@import "../students/studentList.scss";
@import "../student/student.scss";
@import "../student/studentDetails.scss";
@import "../calendar/calendar.scss";
@import "../dashboard/dashboard.scss";
@import "../group/group.scss";
@import "../capacity/capacity.scss";
@import "../capacityCubes/capacityCubes.scss";
