@mixin display-flex {
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction ($direction) {
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
}

@mixin flex ($flex) {
  flex: $flex;
  -webkit-flex: $flex;
}

@mixin align-items ($align) {
  align-items: $align;
  -webkit-align-items: $align;
}

@mixin justify-content($justify) {
  justify-content: $justify;
  -webkit-justify-content: $justify;
}

@mixin flex-flow($flow) {
  flex-flow: $flow;
  -webkit-flex-flow: $flow;
}

@mixin align-self($align) {
  align-self: $align;
  -webkit-align-self: $align;
}
