div.student {
  height: $unit;
  display: flex;
  border-bottom: $border-lightgray;
  & > input {
    text-align: left;
    width: $unit * 5;
  }
  transition: height $transition-duration ease-in;
  &.hidden {
    height: 0;
    overflow: hidden;
    border-bottom: none;
  }
}
