div.student {
  @include display-flex;
  border-bottom: 1px solid $color-border-waitlist-student;
  height: $unit;
  cursor: pointer;
  font-size: $font-size-medium;
  background-color: white;
  padding-right: $unit / 2;
  & > span {
    text-align: left;
    width: $unit * 5;
    text-overflow: ellipsis;
    &.index {
      color: $color-calendar-header;
      text-align: center;
      width: $unit * 2;
    }
  }
  & > div.capacityCubes {
    margin-top : $unit / 4;
  }
  &:hover{
    background-color: $color-student-hover;
  }

  &.waitlist{
    &:hover{
      background-color: $color-waitlist-student-hover;
    }
  }
  &.short {
    @include display-flex;
    @include flex-flow(column wrap);
    @include justify-content(center);
    height: $unit * 2;
    & > span {
      height: $unit;
      padding-left: $unit/5;
    }
  }
}
