div.student {
  height: $unit;
  display: flex;
  cursor: pointer;
  & > input, & > span {
    display: inline-block;
    text-align: left;
    width: $unit * 5;
    border-bottom: $border-lightgray;
  }
  transition: height $transition-duration ease-in;
  &.hidden {
    height: 0;
    overflow: hidden;
    border-bottom: none;
  }
  &.draggable {
    cursor: move;
  }
  &:hover {
     & > span { background-color: transparentize($color-active, 0.5); }
   }
}
