div.student {
  border-bottom: 1px solid $color-border-waitlist-student;
  height: $unit;
  @include display-flex;
  cursor: pointer;
  font-size: $font-size-medium;
  background-color: white;
  & > span {
    display: inline-block;
    text-align: left;
    width: $unit * 5;
    text-overflow: ellipsis;
    &.index {
      color: $color-calendar-header;
      text-align: center;
      width: $unit * 2;
    }
  }
  & > div.capacityCubes {
    margin-top : $unit / 4;
  }
  &:hover{
    background-color: $color-student-hover;
  }

  &.waitlist{
    &:hover{
      background-color: $color-waitlist-student-hover;
    }
  }
}
