div.capacityCubes {

  $border-radius: $unit/5;

  div.vis{
    height: $unit * 3;
    @include display-flex;
    @include flex-direction(row);
    & > span.day {
      height: 100%;
      @include display-flex;
      @include flex-direction(row);
      @include align-items(flex-end);
      margin: 1px;
      border : $border-lightgray;
      border-radius: $border-radius;
      & > span.slot {
        height: 100%;
        width: $unit;
        @include display-flex;
        @include flex-flow(column-reverse wrap);
        & > span.cube {
          @include flex(1 0 auto);
          width: $unit;
          &.taken { background-color: $color-active; }
          &:not(:first-child) {border-bottom: $border-lightgray;}
        }
        &.am {
          border-right: $border-lightgray;
          & > span.cube {
            &:first-child { border-radius: 0 0 0 $border-radius; }
            &:last-child { border-radius: $border-radius 0 0 0; }
          }
        }
        &.pm {
          & > span.cube {
            &:first-child { border-radius: 0 0 $border-radius 0 ; }
            &:last-child { border-radius: 0 $border-radius 0 0; }
          }
        }
      }
    }
  }
  &.waitlist {
    & > div.vis {
      height: $unit * 0.5;
      & > span.day > span.slot > span.cube.taken { background-color: $color-gray; }
    }

  }
}
