div.capacityCubes {

  $border-radius: $unit/5;
  
  div.vis{
    height: $unit * 3;
    display: flex;
    flex-direction: row;
    & > span.day {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin: 1px;
      border : $border-lightgray;
      border-radius: $border-radius;
      & > span.slot {
        height: 100%;
        width: $unit;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        & > span.cube {
          flex: 1 0 auto;
          width: $unit;
          &.taken { background-color: $color-active; }
          &:not(:first-child) {border-bottom: $border-lightgray;}
        }
        &.am {
          border-right: $border-lightgray;
          & > span.cube {
            &:first-child { border-radius: 0 0 0 $border-radius; }
            &:last-child { border-radius: $border-radius 0 0 0; }
          }
        }
        &.pm {
          & > span.cube {
            &:first-child { border-radius: 0 0 $border-radius 0 ; }
            &:last-child { border-radius: 0 $border-radius 0 0; }
          }
        }
      }
    }
  }
}
