div.calendarHeader {
  @include display-flex;
  @include justify-content(center);
  & > span {
    display: inline-block;

    width: $day-width;
    text-align: center;
    font-size: $font-size-small;
    color: $color-calendar-header;
  }
}
