div.calendar {

  $border-radius: $unit/5;

  height: $unit;
  line-height: $unit;
  & > span.day {
    display: inline-block;
    height: $unit;
    margin: 1px;
    & > span {
      display: inline-block;
      width: $unit;
      height: 100%;
      text-align: center;
      &.am {
        border-left : $border-lightgray;
        border-radius: $border-radius 0 0 $border-radius;
        border-right: 1px dashed $color-gray;
      }
      &.pm {
        border-right : $border-lightgray;
        border-radius: 0 $border-radius $border-radius 0;
      }
      &.taken { background-color: $disabled-gray; }
      pointer-events: none;
    }
  }
  &.entry {
    span.day > span {
      pointer-events: all;
      &:hover, &.selected  {
        cursor: pointer;
        background-color: $color-active;
      }
    }
  }
}
