span.monthPicker {
  height: $unit;
  width: $unit * 6;
  display: inline-block;
  span.month {
    width: $unit * 4;
    display: inline-block;
    text-align: center;
  }
  span.prev, span.next {
    width: $unit;
    padding: $unit / 4;
    color: $disabled-gray;
    pointer-events: none;
    &.active {
      cursor: pointer;
      color: black;
      pointer-events: all;
    }
  }
}
