div#navbar {
  font-size: $font-size-small;
  background-color: $color-navbar-background;
  @include flex(1 1 $height-header);
  padding: 0 $unit * 3;
  div {
    height: $height-header - $unit/6;
    line-height: $height-header - $unit/6;
    cursor: pointer;
    float: left;
    margin-right: $unit * 2;
    color: white;
    &.active {
      border-bottom: $unit/6 solid $color-green;
    }
    &:first-of-type {
      width: $unit * 2;
    }
    &.logo {
      font-size: $font-size-large;
      span.green {
        color: $color-green;
      }
    }
  }
}
