div#studentDetails {
  $border-radius: $unit/5;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left:0;
  overflow: hidden;
  background-color: white;
  text-align: center;
  margin: auto;
  & > div.container {
    border: $border-lightgray;
    border-radius: $border-radius;
    margin: $unit / 2;
    padding: $unit / 2;
    position: relative;
    display: flex;
    flex-direction: column;
    & > div.toolbox {
       margin-top : $unit / 2;
      & > span { float: right; }
    }
    & > div.details {
      display: flex;
      flex-wrap: wrap;
      & > div.row {
        flex: 1 0 100%;
        display: flex;
        justify-content: center;
        &.section { margin-top : $unit / 2; }
        & > div.group { margin-right: $unit * 2; }
      }
    }
  }
}
