div#studentDetails {
  $border-radius: $unit/5;
  $mappingRowWidth: calc(#{$unit * 7 * 3 + $unit * 2 * 5} + 25px);

  border: $border-lightgray;
  border-radius: $border-radius;
  margin: $unit / 2;
  padding: $unit / 2;
  @include display-flex;
  @include flex-direction (column);
  & > div.toolbox {
     margin-top : $unit / 2;
    & > span { float: right; }
  }
  & > div.details {
    @include display-flex;
    @include flex-flow( row wrap);
    & > div.row {
      @include flex(1 0 100%);
      @include display-flex;
      @include flex-flow( row wrap);
      @include justify-content(center);
      &.section { margin-top : $unit / 2; }
      &.addNewMapping {
          & > div.container {
            width: $mappingRowWidth;
          & > span.buttonContainer {
            float: right;
            @include display-flex;
            @include justify-content(center);
            width: $unit * 6;
            padding: 0 $unit / 2;
          }
        }
      }
      & > div.groupMapping {
        margin-top : $unit / 2;
        @include display-flex;
        & > span {
          width: $unit * 6;
          padding: 0 $unit / 2;
          &.group {
            line-height: $unit / 2;
            text-align: left;
          }
        }
      }
    }
  }

}
