div#studentDetails {
  $border-radius: $unit/5;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left:0;
  overflow: hidden;
  background-color: white;
  text-align: center;

  & > div.container {
    position: relative;
    display: flex;
    flex-direction: column;
    & > div.toolbox.top {
      & > span.close { float: right; }
    }
    & > div.details {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      & > div {margin: $unit/2 0;}
      & > div.calendar, div.calendarHeader { flex: 1 0 100%; }
    }
  }
}
