div#studentDetails {
  $border-radius: $unit/5;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left:0;
  overflow: hidden;
  background-color: white;
  text-align: center;
  margin: auto;
  & > div.container {
    border: $border-lightgray;
    border-radius: $border-radius;
    margin: $unit / 2;
    padding: $unit / 2;
    position: relative;
    display: flex;
    flex-direction: column;
    & > div.toolbox {
       margin-top : $unit / 2;
      & > span { float: right; }
    }
    & > div.details {
      display: flex;
      flex-wrap: wrap;
      & > div.row {
        flex: 1 0 100%;
        display: flex;
        justify-content: center;
        &.section { margin-top : $unit / 2; }
        &.calendarHeader > div.calendarHeader { margin-left: $unit * 2; }
        &.availableSchedule > div.calendar {margin-right: $unit * 2;}
        & > div.editableInline.schedule {
          padding-left: $unit * 4;
          position: relative;
          & > span.groupPicker > select, & > span.groupPicker {
            text-align: left;
            position: absolute;
            top: 0; left: 0;
          }
        }
        &.mappingUpdate {
          transition: height $transition-duration ease-in;
          height: 0;
          overflow: hidden;
          span.actionEditableItem{ display: none; }
          &.active {
            height: $unit * 1.5;
            span.actionEditableItem{ display: inline-block; }
          }
        }
      }
    }
  }
}
