div#students {
 & > div.header {
   display: flex;
   border-bottom: $border-lightgray;
   line-height: $line-height;
   & > div {
     text-align: left;
     width: $unit * 5;
      &.calendar > span {
       text-align: center;
       display: inline-block;
       width: $unit;
       height: 100%;
     }
   }
 }
}
