div#studentList {
  & > div.toolbar {
    display: flex;
    justify-content: flex-end;
    &.span {
      display: inline-block;
      width: $unit;
    }
  }
  & > div.table {
    & > div.header {
     display: flex;
     border-bottom: $border-lightgray;
     line-height: $unit;
     & > div {
       width: $unit * 5;
       text-align: left;
     }
     & > div.calendar {
      $day-width: calc(#{$unit * 2} + 5px);
      width: auto;
      span {
         text-align: center;
         display: inline-block;
         width: $day-width;
         height: 100%;
        }
      }
    }
  }
}
