div#students {
  height: 100%;
  overflow-y: hidden;
  @include display-flex;
  @include flex-flow(row wrap);
  @include justify-content(space-around);
  & > div.toolbar {
    width: 100%;
    position: fixed;
    top: $unit * 2; right: 0;
    height: $toolbar-height;
    background-color: $color-toolbar-background;
    @include display-flex;
    @include justify-content(flex-start);
    &  > span.picker {
      margin: 0 $unit;
    }
  }

}
